<div class="row ng-star-inserted">
  <div class="col-12">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2">
      <div
        *ngFor="let item of datasorce; let i = index"
        class="group relative rounded-xl border-2 border-[var(--chart-nav-border)] flex flex-col items-center justify-start p-1 cursor-pointer hover:border-[var(--picker-accent)] transition-all duration-200"
        (dblclick)="openModal(controlsecondsDataChart, item.iotTagId, item.parameterName, item.unitofmeasurement)"
        title="Double click to view history"
      >
        <!-- Parameter name -->
        <span class="text-[11px] text-[var(--text-color)] text-center leading-tight px-1 flex items-center justify-center">
          {{ item.parameterName | removebrackets }}
        </span>

        <!-- Gauge -->
        <ngx-gauge
          [size]="110"
          type="arch"
          [thick]="11"
          [value]="item.actualValue.toFixed(2)"
          [max]="item.actualValue + 250"
          cap="round"
          [append]="item.unitofmeasurement"
          [foregroundColor]="item.foregroundColor"
          [backgroundColor]="'var(--dashboard-graph-bg)'"
          class="w-full"
        ></ngx-gauge>

        <!-- Hover tooltip hint -->
        <span class="absolute bottom-1 right-2 text-[9px] text-[var(--text-color)] text-center opacity-0 group-hover:opacity-40 transition-opacity duration-200">
          double click for history
        </span>
      </div>
    </div>

    <!-- <mat-grid-list  *ngIf="type=='resultant'" cols="4"
            rowheight="1:0.950" class="mat-grid-list"
            style="padding-bottom: calc(4 * ((31.6667% - 0.666667px) * 1) + 0px + 3px);">
            <div>
                <mat-grid-tile *ngFor="let item of datasorce;let i=index"  class="mat-grid-tile dial-card ng-star-inserted"
                    rowspan="1" colspan="1"
                    style="left: 0px; width: calc((33.3333% - 0.666667px) * 1 + 0px); margin-top: 0px; padding-top: calc((31.6667% - 0.666667px) * 1 + 0px);">
                    <div class="mat-grid-tile-content">
                        <mat-card 
                            class="kpi-card">
                            <mat-card-header 
                                class="mat-card-header">
                                <div class="mat-card-header-text">
                                    <mat-card-title 
                                        class="mat-card-title kpi-dial-card-title">{{item.parameterName}}
                                    </mat-card-title>
                                </div>
                            </mat-card-header>
                            <ngx-gauge [size]='109' type="arch" [thick]="7" [value]="item.actualValue" cap="round" 
                        append="" foregroundColor="#3358f4" backgroundColor="#ecf0f1" style="width: 109.714px; height: 93.2571px;"></ngx-gauge>
                        </mat-card>
                    </div>
                </mat-grid-tile>
            </div>
        </mat-grid-list> -->
  </div>
</div>

<ng-template #controlsecondsDataChart>
  <div class="modal-header bg-[var(--bg-leftdrawer-footer)]">
    <h4 class="modal-title pull-left text-[var(--text-color)]">
      History data for {{ display_name | removebrackets }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide(); closeModal()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="control-dateTime">
      <input
        class="datetime-modal "
        [owlDateTimeTrigger]="dt15"
        [owlDateTime]="dt15"
        [(ngModel)]="selectRange"
        class="form-control"
        (dateTimeChange)="onselectDateTimeRange($event)"
        [selectMode]="'range'"
        placeholder="Select Date Range"
        [max]="max"
      />
      <owl-date-time #dt15></owl-date-time>
    </div>
    <app-loader class="d-flex justify-content-center" *ngIf="loadchart">
      <div class="d-flex justify-content-center">Loading</div>
    </app-loader>
    <app-control-line
      *ngIf="chartResult"
      [dateTimeData]="dateTimeData"
      [seriesData]="seriesdata"
      [displayName]="display_name"
      [unitMeasure]="unit_measure"
    ></app-control-line>
  </div>
</ng-template>