#lineChart {
    margin: 10px auto;
    min-width: 400px;
}

.chart-line{
    width: 100%;
}



#lineChart{
    display: block;
    box-sizing: border-box;
    height: 484.8px;
    width: 971.2px I !important;
}