<!-- <app-header></app-header> -->
<!-- <app-sidebr
  [isExpanded]="sidebarExpanded"
  (toggleSidebar)="sidebarExpanded = !sidebarExpanded"
></app-sidebr> -->
<div class="custom-scrollbar mx-3">
  <div class="loaderBox" [hidden]="!flags.showLoader">
    <app-loader></app-loader>
  </div>
  <!-- <div class="card card_apply"> -->
    <div  class="w-full rounded-lg border border-[var(--form-border)] overflow-hidden">
      <div id="style-yRrfL" class="style-yRrfL">
        <div class="row">
          <!-- <div class="col-sm-2">
                        <h5 class="card-title pageheading">
                            Recommendation List
                        </h5>
                    </div> -->
          <div class="col-sm-12">
            <app-filters
              type="rangepicker"
              [filtersData]="payload"
              [showRange]="false"
              *ngIf="payload"
              (filterData)="onChangeFilter($event)"
            ></app-filters>
          </div>
        </div>
        <div class="mat-elevation-z8 style-qG6n4" id="style-qG6n4">
          <div class="loaderBox" [hidden]="!flags.showLoader">
            <app-loader></app-loader>
          </div>
          <div class="example-container" [hidden]="showNoData">
            <div class="row">
              <div class="col-sm-3">
                <div class="d-flex">
                  <!-- <select class="form-select" [(ngModel)]="selectedOption" (change)="getAlertParameterDropDown($event)">
                                        <option value='All'>ALL</option>
                                        <option *ngFor="let data of alertparameterDropDownData" [value]="data.Tag_Id">{{data.UI_Display_Name?data.UI_Display_Name:data.Generic_Description}}</option>
                                    </select> -->
                </div>
              </div>
              <div
                class="col-sm-9 d-flex justify-content-end"
                [hidden]="recommendationDataSource.length == 0"
              >
                <a
                  (click)="downloadAlertData()"
                  [hidden]="recommendationDataSource.length == 0"
                >
                  <span
                    class="material download material-symbols-outlined text-[30px] flex justify-end text-[var(--text-color)] mb-2 mr-2 cursor-pointer"
                  >
                    download
                  </span>
                </a>
              </div>
            </div>
            <!-- <mat-paginator [length]="100" [pageSize]="10" #paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                            </mat-paginator> -->
            <!-- <table class="mat-table style-mKJ5X" id="style-mKJ5X" *ngIf="!showNoData">
                            
                          
                            <thead>
                                <tr class="mat-header-row">
                                    <th class="mat-header-cell content">
                                        Parameter Name
                                    </th>
                                    <th class="mat-header-cell content">
                                        Initial Value
                                    </th>
                                    <th class="mat-header-cell content style-MofsM" id="style-MofsM">
                                        Recommended Value
                                    </th>
                                    <th class="mat-header-cell content">
                                        Acknowledged
                                    </th>
                                    <th class="mat-header-cell content style-9aZ9Q" id="style-9aZ9Q">
                                        Action Taken
                                    </th>
                                    <th class="mat-header-cell content">
                                        Snoozed
                                    </th>
                                    <th class="mat-header-cell content">
                                        Date
                                    </th>
                                    <th class="mat-header-cell content">
                                        Time
                                    </th>
                                    <th class="mat-header-cell content">
                                        Comments
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="mat-row" *ngFor="let item of recommendationDataSource">
                                    <td class="mat-cell content style-3XYrn" id="style-3XYrn">
                                        {{item.parameterName}}
                                    </td>
                                    <td class="mat-cell content">
                                        {{item.initialValue?item.initialValue:0}}
                                    </td>
                                    <td class="mat-cell content">
                                        {{item.recommendedValue?item.recommendedValue:0}}
                                    </td>
                                    <td class="mat-cell content">
                                        {{item.isAcknowledged?item.isAcknowledged:'No'}}
                                    </td>
                                    <td class="mat-cell content">
                                        {{item.actionTaken?item.actionTaken:'No'}}
                                    </td>
                                    <td class="mat-cell content">
                                        {{item.is_snoozed?item.is_snoozed:'No'}}
                                    </td>
                                  
                                    <td class="mat-cell content">
                                        {{item.timestamp?item.timestamp.slice(0,10):'NA'}}
                                    </td>
                                    <td class="mat-cell content">
                                        {{item.timestamp?item.timestamp.slice(11,16):'NA'}}
                                    </td>
                                    <td class="mat-cell content">
                                        {{item.comments?item.comments:'NA'}}
                                    </td>

                                </tr>
                               
                            </tbody>
                            <tfoot class="mat-table-sticky style-Uvf4p" id="style-Uvf4p">
                            </tfoot>
                        </table> -->

            <div
              class="custom-scrollbar w-full overflow-x-auto rounded-lg border border-[var(--form-border)]"
            >
              <table
                class="w-full border-collapser"
                mat-table
                [dataSource]="dataSource"
              >
                <ng-container
                  [matColumnDef]="item"
                  *ngFor="let item of keysList; let i = index"
                >
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-[13px] text-left px-3 py-2 font-semibold whitespace-nowrap border-b border-[var(--form-border)] sticky top-0 z-10 bg-[var(--header-bg)]"
                  >
                    {{ displayedColumn[i] }}
                  </th>
                  <!-- <td mat-cell *matCellDef="let element"> 
                                    <ng-container>
                                        {{element[item]?element[item].toFixed(2):'N/A'}}
                                    </ng-container>
                                </td> -->
                  <td
                    mat-cell
                    *matCellDef="let element"
                    class="text-[12px] px-3 py-2 whitespace-nowrap text-[var(--text-color)]"
                  >
                    {{ element[item] ? element[item] : "N/A" }}
                  </td>
                </ng-container>
                <tr
                  class="border-b border-[var(--form-border)]"
                  mat-header-row
                  *matHeaderRowDef="keysList"
                ></tr>
                <tr
                  class="text-[13px] border-b border-[var(--form-border)] transition"
                  mat-row
                  *matRowDef="let row; columns: keysList"
                ></tr>
              </table>
            </div>
            <div
              class="text-[var(--text-color)] justify-content-end text-[12px] -mt-2"
            >
              <mat-paginator
                [length]="100"
                [pageSize]="10"
                #paginator
                [hidden]="recommendationDataSource.length == 0"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page"
              >
              </mat-paginator>
            </div>
          </div>
          <!-- No Data / Empty State Card -->
          <div
            class="m-3 flex flex-col items-center justify-center py-3 px-6 text-center border border-dashed border-[var(--form-border)] rounded-xl transition-all duration-300 animate-fadeIn"
            *ngIf="showNoData"
          >
            <!-- Icon with animation -->
            <div class="text-2xl mb-3 zoom-animation">🔍</div>

            <!-- Title -->
            <h2
              class="text-lg font-semibold text-[var(--leftdrawer-text)] mb-2"
            >
              No Data Found
            </h2>

            <!-- Description -->
            <p class="text-sm text-[var(--card-subtle)] mb-1">
              Try changing the filters or refresh the data
            </p>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
