// .tabledata-center{
//     text-align: center;
//     // text-align: right !important;
// }
// .admin-btn-submit{
//     background-color: yellow;
//     font-weight: 500;
// }
// .tablebtn-submit{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .tableheading-data{
//     font-size: 18px;
//     border-bottom: 2px solid white;
//     background-color: #fff500;
// }
// .tablebody-data{
//     font-size: 18px;
// }
// .tableFirstRow{
//     color: white !important;
//     background-color: brown;
//     font-weight: 600;
// }
// .table-header{
//     color: black !important;
// }
// .data-not-found{
//     width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height:300px;
//   font-size: 18px;
//   color: yellow !important;
// }
// // .tableFixScroll  { overflow: auto; height: 140px; }
// // .tableFixScroll::-webkit-scrollbar {
// //   width: 10px;
// // }
// // .tableFixScroll::-webkit-scrollbar-track {
// //   background-color: #2b313d;
// //   -webkit-border-radius: 10px;
// //   border-radius: 10px;
// // }
// // .tableFixScroll::-webkit-scrollbar-thumb {
// //   -webkit-border-radius: 10px;
// //   border-radius: 10px;
// //   background: #6d6d6d; 
// // }
// // .tableFixScroll thead th { position: sticky; top: 0; z-index: 1; background: #1b515e ; }