<!-- <app-header></app-header> -->
<!-- <app-sidebr [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></app-sidebr> -->

<div class="container-fluid">
  <!-- <app-filters [filtersData]="payload" [filtersDate]="recommendationDate" type='datepicker' (filterData)="onChangeFilter($event)"></app-filters> -->
  <!-- <div class="loader" *ngIf="noRecordFound">
    <app-loader2></app-loader2>
  </div> -->
  <!-- <div *ngIf="activateRecordNotFound">
    <div class="data-not-found">
      <span class="text-center">No Data Found</span>
    </div>
  </div> -->

  <div class="flex text-[18px] font-semibold text-[var(--title)] mb-2">
    <span>Admin</span>
  </div>

  <div
    class="custom-scrollbar w-full overflow-x-auto rounded-lg border border-[var(--form-border)]"
  >
    <table class="w-full border-collapser">
      <thead
        class="sticky bg-gradient-to-r from-orange-400 to-orange-300 text-[#111111]"
      >
        <th class="pl-2.5">Plant Name</th>
        <th>Plant</th>
        <th>Mill</th>
        <th>Parameter</th>
        <th>Description</th>
        <th>Close Loop</th>
        <th>Action</th>
      </thead>
      <tbody *ngIf="!noRecordFound">
        <ng-container *ngFor="let record of tableRecord">
          <tr
            *ngFor="let result of record.result; let i = index"
            class="text-[var(--text-color)] text-left px-4 py-1 whitespace-nowrap border-b border-[var(--form-border)]"
          >
            <td class="pl-2.5" [ngClass]="i == 0 ? 'tableFirstRow' : {}">
              {{ result["Plant Name"] }}
            </td>
            <td
              class="tabledata-center"
              [ngClass]="i == 0 ? 'tableFirstRow' : {}"
            >
              {{ result.plant }}
            </td>
            <td
              class="tabledata-center"
              [ngClass]="i == 0 ? 'tableFirstRow' : {}"
            >
              {{ result.mill }}
            </td>
            <td
              class="tabledata-center"
              [ngClass]="i == 0 ? 'tableFirstRow' : {}"
            >
              {{
                result.parameters === ""
                  ? "Activate Closed Loop"
                  : result.parameters
              }}
            </td>
            <td
              class="tabledata-center"
              [ngClass]="i == 0 ? 'tableFirstRow' : {}"
            >
              {{ result.Description }}
            </td>
            <td
              class="tabledata-center"
              [ngClass]="i == 0 ? 'tableFirstRow' : {}"
            >
              <mat-radio-group [(ngModel)]="result['Close Loop Flag']">
                <mat-radio-button
                  [value]="true"
                  [checked]="result['Close Loop Flag'] === true"
                  [disabled]="
                    record.result[0]['Close Loop Flag'] === false && i >= 1
                  "
                  (change)="handleFlagChange($event, result, record.result)"
                  >Yes
                </mat-radio-button>
                <mat-radio-button
                  [value]="false"
                  [checked]="result['Close Loop Flag'] === false"
                  [disabled]="record.result[0]['Close Loop Flag'] === false"
                  (change)="handleFlagChange($event, result, record.result)"
                  >No</mat-radio-button
                >
              </mat-radio-group>
            </td>
            <td
              *ngIf="i === 0"
              class="tablebtn-submit"
              [ngClass]="i == 0 ? 'tableFirstRow' : {}"
            >
              <!-- <button
                type="submit"
                class="btn admin-btn-submit"
                (click)="handleSubmit()"
                [disabled]="submitButtonsDisabled[result.plant][result.mill]"
              >
                Submit
              </button> -->

              <button
                type="submit"
                (click)="handleSubmit()"
                [disabled]="submitButtonsDisabled[result.plant][result.mill]"
                class="p-1 inline-flex items-center justify-center disabled:opacity-40 disabled:cursor-not-allowed"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-5 h-5 text-[var(--picker-accent)] hover:scale-110 transition-transform"
                >
                  <path d="M2 21l21-9L2 3v7l15 2-15 2z" />
                </svg>
              </button>
              
            </td>
          </tr>
        </ng-container>
      </tbody>
      <tbody class="tablebody-data" *ngIf="noRecordFound">
        <tr>
          <td colspan="7" *ngIf="activateRecordNotFound">
            <div class="loader">
              <app-loader2></app-loader2>
            </div>
          </td>
          <td colspan="7" *ngIf="!activateRecordNotFound">
            <p class="data-not-found">
              {{
                noDataFoundCement
                  ? "No Record Found for " + jsonCement.Plant_Code
                  : "No Record Found"
              }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
