<div class="w-auto h-14 bg-[var(--bg-header)] px-6 flex items-center justify-between [box-shadow:var(--header-shadow)]">
  <div class="flex items-center gap-2">

    <!-- Logo -->
    <img
      src="assets/adityabirlalogo.png"
      alt="Aditya Birla Logo"
      class="w-[50px] h-[50px] object-contain"
    />

    <!-- Title -->
    <h1 class="text-sm sm:text-base md:text-lg lg:text-lg xl:text-xl
                text-[var(--text-color)] font-semibold tracking-tight text-center">
      Prakriti: UltraTech's Unified OT Data Foundation
    </h1>

  </div>
</div>