<div class="row ng-star-inserted">
  <div class="col-12">
    <mat-grid-list
      cols="3"
      rowheight="1:1.2"
      gutterSize="8px"
      class="mat-grid-list"
    >
      <div>
        <mat-grid-tile
          *ngFor="let item of datasorce; let i = index"
          class="mat-grid-tile dial-card ng-star-inserted"
          rowspan="1"
          colspan="1"
        >
          <div
            class="mat-grid-tile-content cursor-class"
            (dblclick)="openModal(secondsDataChart, item.iotTagId, item.parameterName, item.unitofmeasurement)"
          >
            <div class="py-2 relative w-full h-full rounded-xl border-2 border-[var(--chart-nav-border)] flex flex-col items-center justify-center overflow-hidden">

              <span class="text-[13px] mb-1 text-[var(--text-color)] text-center font-semibold uppercase leading-tight px-1">
                {{ item.parameterName | removebrackets }}
              </span>

              <ngx-gauge
                type="arch"
                [thick]="12"
                [value]="item.actualValue.toFixed(2)"
                [max]="item.actualValue + 250"
                cap="round"
                [append]="item.unitofmeasurement"
                [foregroundColor]="item.foregroundColor"
                backgroundColor="#F1F0EE"
                class="!w-full"
              ></ngx-gauge>

            </div>
          </div>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>

<ng-template class="owl-control" #secondsDataChart>
  <div class="modal-header">
    <h4 class="modal-title pull-left">History Data for {{ display_name | removebrackets }}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide(); closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="control-dateTime">
      <input
        [owlDateTimeTrigger]="dt16"
        [owlDateTime]="dt16"
        [(ngModel)]="selectRange"
        class="form-control"
        (dateTimeChange)="onselectDateTimeRange($event)"
        [selectMode]="'range'"
        placeholder="Select Date Range"
        [max]="max"
      />
      <owl-date-time #dt16 class="xyzz"></owl-date-time>
    </div>
    <app-loader class="d-flex justify-content-center" *ngIf="loadchart">
      <div class="d-flex justify-content-center">Loading</div>
    </app-loader>
    <app-line-chart
      *ngIf="chartresult"
      [dateTimeData]="this.dateTimedata"
      [seriesData]="this.seriesData"
      [displayName]="display_name"
      [unitMeasure]="unit_measure"
    ></app-line-chart>
  </div>
</ng-template>